@model SessionItem

<h1>Edit</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(t => t.Id)
    @Html.TextBoxFor(t => t.Title, new{
        placeholder = "Input session's title"
    });
    <br />
    @Html.TextBoxFor(t => t.ShowDate, new { @type="datetime-local", @Value = @DateTime.Now.ToLongDateString()  } )
    <br />
    <input type="submit" id="updateButton" name="updateButton" value="Edit" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Styles
{
    <link href="~/css/UpdateSession.css" type="text/css" rel="stylesheet" />
}