@model IEnumerable<SessionItem>?


@if (Model == null)
{
    <div>Incorrect data!</div>
}

<h1>Sessions</h1>

<p class="text-right">
    @Html.ActionLink("Create New", "Add")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinema.CinemaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowDate)
        </th>
    </tr>


    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cinema.CinemaTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Session", new { id = item.Id}) |
                    <input type="button" value="Delete" id="Delete" class="Delete" name="Delete" data-id="@item.Id"/>
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan="4" class="text-center"><b>No Data Available. Please Add Data By CLick On Create Button</b></td>
    }
</table>


@section Scripts
{
    <script src="~/js/DeleteSession.js"></script>
}